.header {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 7px;
  position: relative;
}

.button {
  width: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  margin-left: 20px;

  &:hover {
    background-color: #cccccc;
    color: white;
  }
}