// стили боковой временной шкалы
.calendar {

  &__body {
    margin-top: 100px;
  }

  &__time-scale {
    width: 45px;
  }
}

.time-slot {
  height: 70px;
  padding-top: 60px;
  margin-right: 5px;
}